body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    padding: 20px;
    font-weight: bold;
    font-size: 1pt;
    background-color: #0096FF;
}

.navbar:hover {
    color: #fff;

}


.nav-item {
    text-decoration: none;
    transition: 0.3s;
    padding: 20px;
    font-weight: bold;
    font-size: 16pt;
}

.nav-item .nav-link:hover {
    background-color: #0096FF;
    color:white;
}

.ada_name{
    font-weight: bold;
    font-size:20pt;
}

a.see_more {
    float: right;
}

.socials a img {
    height: 50px;
    width: 50px;
   
}

.contact {
    background-color: #0096FF;
}

